<button class="btn btn-primary btn-sm" (click)="showModalMiddle()">
   <span class="material-symbols-outlined align-middle">add</span>
   Agregar usuario
</button>
<nz-modal [(nzVisible)]="isVisibleMiddle" nzTitle="Agregar usuario" nzCentered [nzClosable]="false" [nzFooter]="null"
   [nzBodyStyle]="{ 'padding-bottom': '0' }" [nzWidth]="650">
   <ng-container *nzModalContent>
      <form class="container" [formGroup]="formAddUser" (ngSubmit)="handleOkMiddle()">
         <div class="row">
            <div class="col-lg-6">
               <div class="row">
                  <label class="col-12 mb-1 basic-label text-secondary">Nombre</label>
                  <div class="col-12">
                     <input nz-input type="text" formControlName="nombre">
                  </div>
               </div>
            </div>
            <div class="col-lg-6">
               <div class="row">
                  <label class="col-12 mb-1 basic-label text-secondary">Apellido</label>
                  <div class="col-12">
                     <input nz-input type="text" formControlName="apellido">
                  </div>
               </div>
            </div>
         </div>
         <div class="row mt-3">
            <div class="col-lg-6">
               <div class="row">
                  <label class="col-12 mb-1 basic-label text-secondary">Email</label>
                  <div class="col-12">
                     <input nz-input type="text" formControlName="email">
                  </div>
               </div>
            </div>
            <div class="col-lg-6">
               <div class="row">
                  <label class="col-12 mb-1 basic-label text-secondary">Teléfono</label>
                  <div class="col-12">
                     <input nz-input type="text" formControlName="telefono" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                  </div>
               </div>
            </div>
         </div>
         <div class="row mt-3">
            <div class="col-lg-6">
               <div class="row">
                  <label class="col-12 mb-1 basic-label text-secondary">{{ nombreNivelAcceso }}</label>
                  <div class="col-12">
                     <nz-select class="w-100" [nzDisabled]="catalogoNiveles.length >= 2 ? false : true" formControlName="nivel_acceso" (ngModelChange)="listarRFCHotel()">
                        <nz-option *ngFor="let acceso of catalogoNiveles" [nzValue]="acceso.nombre" [nzLabel]="acceso.hotel"></nz-option>
                     </nz-select>
                  </div>
               </div>
            </div>
            <div class="col-lg-6">
               <div class="row">
                  <label class="col-12 mb-1 basic-label text-secondary">RFCs Asociados</label>
                  <div class="col-12">
                     <nz-select
                        class="w-100"
                        [nzMaxTagCount]="3"
                        [nzMaxTagPlaceholder]="tagPlaceHolder"
                        nzMode="multiple"
                        formControlName="rfcs"
                     >
                        <nz-option *ngFor="let rfc of catalogoRFCS" [nzLabel]="rfc" [nzValue]="rfc"></nz-option>
                     </nz-select>
                     <ng-template #tagPlaceHolder let-selectedList>y {{ selectedList.length }} más seleccionados</ng-template>
                  </div>
               </div>
            </div>
         </div>
         <div class="row mt-3">
            <div class="col-lg-6">
               <div class="row">
                  <label class="col-12 mb-1 basic-label text-secondary">Aplicaciones permitidas</label>
                  <div class="col-12">
                     <nz-select
                        class="w-100"
                        [nzMaxTagCount]="3"
                        [nzMaxTagPlaceholder]="tagPlaceHolder"
                        nzMode="multiple"
                        formControlName="apps"
                     >
                        <nz-option *ngFor="let app of appsVerificadas" [nzLabel]="app.nombre" [nzValue]="app.identificador"></nz-option>
                     </nz-select>
                     <ng-template #tagPlaceHolder let-selectedList>y {{ selectedList.length }} más seleccionados</ng-template>
                  </div>
               </div>
            </div>
            <div class="col-lg-6">
               <div class="row">
                  <label class="col-12 mb-1 basic-label text-secondary">Password</label>
                  <div class="col-12">
                     <input nz-input type="password" formControlName="password">
                  </div>
               </div>
            </div>
         </div>
         <div class="row mt-4 py-3 border-top align-items-center">
            <div class="col-12 text-end">
               <button (click)="handleCancelMiddle()" type="button" class="btn btn-danger shadow-sm btn-sm me-3">Cancelar</button>
               <button type="submit" class="btn btn-primary btn-sm shadow-sm">Agregar</button>
            </div>
         </div>
      </form>
   </ng-container>
</nz-modal>