<div class="container-fluid p-4">
  <div class="row">
    <div class="col-lg-6">
      <h4>Descargas programadas</h4>
    </div>
    <div class="col-lg-6 text-end">
      <button type="button" (click)="refreshTabla()" class="btn btn-primary btn-sm">
        <i class="fas fa-refresh me-1"></i>
        Actualizar
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ngb-alert type="info" class="basic-label py-2 my-3 alert-disclaimer" (closed)="disclaimerShow = !disclaimerShow"
        *ngIf="disclaimerShow">
        <strong>Atención:</strong>
        Te recordamos que los reportes generados se eliminan 30 días hábiles después de haber sido creados.
      </ngb-alert>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <app-loader *ngIf="isLoading"></app-loader>
      <table *ngIf="!isLoading" datatable [dtOptions]="dtOptions" class="row-border hover w-100" id="analytics-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Tipo de reporte</th>
            <th>Fecha de creación</th>
            <th>Estatus</th>
            <th>Descarga</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reporte of rowsTable">
            <td>{{ reporte.nombre_reporte }}</td>
            <td>{{ reporte.tipo_reporte }}</td>
            <td class="text-center">{{ reporte.fecha_creacion | date: 'medium' }}</td>
            <td class="text-center">
              <span class="badge" [ngClass]="checkStatus(reporte.status)">
                {{ reporte.status }}
              </span>
            </td>
            <td class="text-end">
              <p class="mb-0 text-end" style="width: 120px;">
                <app-descarga-reporte-vault [rowSelected]="reporte"
                  *ngIf="reporte.status === 'descargado'"></app-descarga-reporte-vault>
                <button *ngIf="reporte.status === 'descargado'" type="button" (click)="showModalMiddle(reporte)"
                  class="btn btn-danger btn-sm shadow-sm"><i class="fas fa-trash"></i></button>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<nz-modal [(nzVisible)]="isVisibleMiddle" nzTitle="Eliminar reporte" nzCentered [nzFooter]="null" [nzClosable]="false">
  <ng-container *nzModalContent>
    <div class="container">
      <div class="row">
        <p class="mb-0 col-12">¿Está seguro que desea eliminar este reporte?</p>
      </div>
      <div class="row mt-4">
        <div class="col-12 text-end">
          <button (click)="handleCancelMiddle()" class="btn btn-sm btn-warning me-3">
            Cancelar
          </button>
          <button class="btn btn-danger btn-sm" (click)="handleOkMiddle()">Eliminar</button>
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>
